@font-face {
    font-family: BYekan;
    src: url('fonts/1.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BYekan;
    src: url('fonts/1.eot') format('eot'),
         url('fonts/3.woff') format('woff'),
         url('fonts/2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

